/* ==========================================================================
   Einzelseiten
   ========================================================================== */

.single-page{
  background: #fff;
  .page {
    padding-top: 12em;
  }
  .content {
    p {
      @include media(">phone") {
        width: 45em;
        max-width: 100%;
      }
      margin: auto;
      margin-bottom: .5em;
    }
    form {
      marigin: auto;
      width: 50.5em;
    }
  }
  h1 {
    line-height: 100%;
    @include media(">phone") {
      font-size: 4em;
    }
    @include media(">tablet") {
      font-size: 6em;
    }
    text-align: center;
    line-break: auto;
  }
  h2 {
    line-height: 100%;
    @include media(">phone") {
      font-size: 2.5em;
      margin-left: 20%;
    }
    @include media(">tablet") {
      font-size: 3em;
      margin-left: 30%;
    }
    margin-top: 2em;
    margin-bottom: .8em;
  }
  h3,h4,h5,h6 {
    @include media(">phone") {
      width: 45em;
    }
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
    margin-top: 2em;
  }
  .page ul {
    @include media(">phone") {
      width: 45em;
      max-width: 100%;
    }
    margin-top: 0;

    margin-left: auto;
    margin-right: auto;

  }
}
