.cookie-overlay {
  background: #51696A;
  top: 0;
  width: 100%;
  color: #fff;
  padding: 1em;
  z-index: 100;
  p {
    max-width: 55em;
    margin: auto;
    line-height: 120%;
    font-size: 1em;
  }
  a {
    color: #fff;
    background: #6C8789;
    display: inline-block;
    padding: .3em .8em;
    margin-top: .5em;
  }
}
