/* ==========================================================================
   Footer
   ========================================================================== */
footer {
  background: #fff;
  padding: $space;
  @include clearfix;
  p {
    float: left;
  }
  img {
    height: 32px;
  }
  a {
    display: inline-block;
    padding: .5em;
  }
  ul {
    float: right;
    display: inline-block;
    li {
      display: inline-block;
    }
  }
  @include media("<=phone") {
    p {
      float: none;
    }
    text-align: center;
    span {
      display: block;
      height: .1em;
      text-indent: -4000px;
    }
    ul {
      float: none;
      padding: 0;
    }
  }
}
.single-page footer {
  background: #eee;
  margin-top: $space*3;
}
.sociallinks {
  margin: 1em 0;
  float: right;
  @include media("<=phone") {
    float: none;
  }
}
