
form {
	margin:$space auto;
}
form li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
form label{
	margin: 1em 0 .2em 0;
	padding: 0px;
	display: block;
	font-size: 1.3em;
}
form label.option{
	font-size: 1em;
	margin: 0;
}
form input[type=text],
form input[type=date],
form input[type=datetime],
form input[type=number],
form input[type=search],
form input[type=time],
form input[type=url],
form input[type=email],
form input[type=password],
textarea,
select{
	box-sizing: border-box;
	border:1px solid $color-background;
	padding: 7px;
	margin:0px;
	outline: none;
	width: 30em;
	margin-left: 1em;
}
form input[type=text]:focus,
form input[type=date]:focus,
form input[type=datetime]:focus,
form input[type=number]:focus,
form input[type=search]:focus,
form input[type=time]:focus,
form input[type=url]:focus,
form input[type=email]:focus,
form input[type=password]:focus,
form textarea:focus,
form select:focus{
	box-shadow: 0 0 8px #ccc;
	border: 1px solid #999;
}
form .field {
	margin-top: 1em;
}
form .field-divided{
	width: 49%;
}
form .field-long{
	width: 100%;
}
form .field-select{
	width: 100%;
}
form .field-textarea{
	height: 100px;
}
form input[type=submit], form input[type=button]{
	font-family: Kulturlichter, sans-serif;
	font-size: 1.5em;
	background: $color-type;
	padding: .6em 1em 0.4em 1em;
	border-radius: .5em;
	border: none;
	color: #fff;
	margin: 1em 0;
	transition: all .5s;
}
form input[type=submit]:hover, form input[type=button]:hover{
	background: #000;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
form .required{
	//color:red;
}

p.error {
	color: darkred;
	margin: .5em 0 0 .9em!important;
}

p.success {
	color: darkgreen;
	background: lightgreen;
	padding: 1em;
	border-radius: .5em;
	margin: 2em 0!important;
}
