img { max-width: 100%; }
.content {
  padding: 1em;
  max-width: 1200px;
  margin: auto;
  padding: $space $space 0 $space;
  overflow: hidden;
  //border: 1px dashed rgba(0,0,0,0.3);
}
.visuallyhidden {
  @include hide-visually;
}
.home {
  overflow-x: hidden;
}
hr {
  border-top: 0px solid;
  margin: 2em 0;
}
