/* ==========================================================================
   Hauptnavigation
   ========================================================================== */
.nav {
  @include media(">phone") {
    padding: $space;
  }
  padding: $space/2;
  position: absolute;
  z-index: +1;
  left: 0;
  right: 0;
  a.home:hover {
    text-decoration: none;
  }
}
.nav img {
  @include media("<=phone") {
    max-width: 50%;
  }
  @include media("<=tablet") {
    max-width: 50%;
  }
}
.nav .logo {
  font-family: Kulturlichterlogo, sans-serif;
  text-rendering: geometricPrecision;
  display: inline-block;
  font-size: 8em;
  color: #fff;
  margin: -.2em 0 0 -.3em;
  font-variation-settings: 'wght' 900;
  transition: all 1s;
  &:hover {
    font-variation-settings: 'wght' 100;
  }
}

.b-menu {
  background: none;
}
.b-container {
  left: auto;
  right: $space;
}
.b-brand {
  display: none;
  @include media(">tablet") {
    display: inline;
  }
}
.mainnav {
  text-align: center;
  position: absolute;
  display: none;
  width: 100%;
  left: 100%;
  font-size: 1.6em;
  line-height: 100%;
  letter-spacing: .07em;
  @include media(">tablet") {
    font-size: 2.4em;
    letter-spacing: .1em;
  }
  text-transform: uppercase;
  transition: left, .5s;
  &.open{
    display: block;
    left: 0%;
  }
  ul {
    list-style-type: none;
    padding: 0 1em;
  }
  li {
    hyphens: auto;
    margin: .5em 0;
  }
  a {
    color: #fff;
    &:hover {
      text-decoration: none;
      border-bottom: 1px solid #fff;
    }

  }
}

/* Single Page Anpassungen */
.single-page .nav {
  a.b-brand,
  .logo {
    color: $color-type;
  }
  .b-bun {
    background: $color-type;
  }
}
.single-page.open .nav {
  a.b-brand,
  .logo {
    color: #fff;
  }
  .b-bun {
    background: #fff;
  }
}

/* Menu doch Sticky machen */
.b-container,
.mainnav {
  //position: fixed;
}
body.home.open .page {
  //opacity: 0.3;
}
