/* ==========================================================================
   Jury
   ========================================================================== */
/*
  Das Template "Pages" greift auch da die Seite auch die Klasse hat
  Hier wird das nur noch ergänzt.
*/

/* Die Liste der Jurymitglieder auf der Single-Page */
.jurysinglepage {
  display: flex;
  flex-wrap: wrap;
  margin: $space*2 auto;
  max-width: 1200px;
  padding: 0 $space/2;
  @include media(">tablet") {
    padding: 0 $space;
  }
  .jury-mitglied.off {
    // Via Waypoints.js eingeblendet
    padding-bottom: $space*10;
  }
  .jury-mitglied {
    @include media(">phone") {
    width: 50%;
    }
    @include media(">tablet") {
    width: 33%;
    }
    transition: padding 1s;
    padding: 0 1%;
  }
}
