/* ==========================================================================
   Typo
   ========================================================================== */

@font-face {
     font-family: 'Kulturlichter';
     font-style: normal;
     font-weight: 100;
     src: url('../font/Kulturlichter-VF.ttf');
     src: local('Kulturlichter Regular'),
          local('Kulturlichter-Regular'),
          url('../font/Kulturlichter-VF.ttf') format('truetype'),
          url('../font/Kulturlichter-vf.eot#iefix') format('embedded-opentype'),
          url('../font/Kulturlichter-vf.woff2') format('woff2'),
          url('../font/Kulturlichter-vf.woff') format('woff'),
          url('../font/Kulturlichter-vf.svg') format('svg');
    font-display: swap;
}
@font-face {
     font-family: 'Kulturlichterlogo';
     font-style: normal;
     font-weight: 100;
     src: url('../font/Kulturlichterlogo-VF.ttf');
     src: local('Kulturlichterlogo Regular'),
          local('Kulturlichterlogo-Regular'),
          url('../font/KulturlichterLogo-VF.ttf') format('truetype'),
          url('../font/KulturlichterLogo-vf.eot#iefix') format('embedded-opentype'),
          url('../font/KulturlichterLogo-vf.woff2') format('woff2'),
          url('../font/KulturlichterLogo-vf.woff') format('woff'),
          url('../font/KulturlichterLogo-vf.svg') format('svg');
    font-display: swap;
}

/* Animation der Open-Type Variation*/
.variablefont-ani {
  font-variation-settings: 'wght' 100;
  transition: all .3s;
}
.variablefont-ani.active {
  animation-duration: 2s;
  animation-name: variablefontInOut;
}
@keyframes variablefontInOut {
  from { font-variation-settings: 'wght' 100; }
  50% { font-variation-settings: 'wght' 900; }
  to { font-variation-settings: 'wght' 100; }
}
.variablefont-ani:hover {
  font-variation-settings: 'wght' 900;
}

/* Grund-Typo */
html, body {
  font-family: adobe-garamond-pro, "Garamond", "Baskerville", "Baskerville Old Face", "Hoefler Text", "Times New Roman";
  color: $color-type;
}
a {
  text-decoration: none;
  color: $color-type;
  &:hover {
    text-decoration: underline;
  }
}
h1 {
  font-family: Kulturlichter, sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: 90%;
}
h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 2em; /* 2/16 */
  @include media(">phone") {
    font-size: 3em; /* 3/16 */
    margin:0;
    padding: 0;
  }
  @include media(">tablet") {
    font-size: 3.875em; /* 3.875/16 */
  }
  line-height: 150%;
  text-transform: uppercase;
  em {
    font-style:normal;
  }
}

h3 {
  font-size: 1.125em; /* 1.125/16 */
  line-height: 100%;
  text-transform: uppercase;
}

h4 {
  font-size: 1.125em; /* 1.125/16 */
  line-height: 130%;
  text-transform: uppercase;
  font-weight: normal;
}

p {
  font-size: 1.125em; /* 1.125/16 */
  line-height: 150%;
  margin: 1em 0;
}

.content ul {
  font-size: 1.125em; /* 1.125/16 */
  line-height: 150%;
  margin: 1em 0;
  padding-left: 1em; /* 1/16 */
  list-style-type: none;
  li {
    &:before {
      content: "- ";
      position: absolute;
      margin-left: -.7em;
      font-size: 130%;
    }

  }
}
span.icn-arrow {
  font-family: Arial, sans-serif;
  font-size: .9em;
  position: absolute;
  display: inline-block;
  margin-top: -.1em;
  margin-left: -1.5em;
}
// Der Coole More-Link
a.more-link {
  font-size: .6em;
  font-family: adobe-garamond-pro, "Garamond", "Baskerville", "Baskerville Old Face", "Hoefler Text", "Times New Roman";
  font-style: italic;
  position: relative;
  white-space: nowrap;
  &:hover {
    text-decoration: none;
    &::before {
      width: 150%;
      margin-left: 0%;
      transition: width, .5s;

    }
  }
  &::before {
    content: " ";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 20px;
    background: url("../img/Welle.png") repeat-x;
    bottom: -.6em;
    @include media("<=phone") {
      background-size: 40%;
      bottom: -1.3em;
    }
  }
}
