/* ==========================================================================
   Visuals
   ========================================================================== */
.visual {
  position: absolute;
  z-index: 1;
background: linear-gradient(0deg, #8DD2CB 0.74%, #CBE199 18.76%, #D5D59D 24.49%, #F0B6A8 34.78%, #F8ADAB 37.37%, #ECA8AC 38.99%, #CD9BAE 41.9%, #9A85B1 45.76%, #6B71B4 48.96%, #6F7DB7 54.22%, #799CBE 63.68%, #89CFC9 76.19%, #8AD1CA 76.7%);
  background-attachment: fixed;
  background-size: 400px 400px;
  z-index: -1;
  transition: all 2s, tranform 0s;
  svg {
    fill: $color-background;
  }
  &::before {
    // Es blitzte leider etwas vom Hintergrund durch drum lege ich ein Pseudeo-Element mit Rahmen drüber
    content: "";
    position: absolute;
    display: block;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid $color-background;
  }
}
.visual-a {
  left: 50%;
  margin-left: -10%;
  width: 30%;
  top: 0;
  &.newposition {
    width: 90%;
  }
  &.loadani {
    width: 70%;
    margin-left: -40%;
    top: -20%;
  }

}
.visual-b {
  margin-top: 7em;
  @include media("<=phone") {
    margin-top: -1em;
  }
  left: 0;
  width: 25%;
  &.newposition {
    width: 33%;
    left: -3%;
    margin-top: -10em;
  }
}
.visual-c {
  right: 0;
  width: 25%;
  margin-top: 10em;
  @include media("<=phone") {
    margin-top: 20em;
    right: -10%;
  }
  &.newposition {
    width: 45%;
    right: -10%;
  }

}
