/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
  Timos Tools
  ========================================================================== */

  /* = Variablen ===================================================================== */
  $color-background: #6C8789;
  $color-type: #51696A;
  $space: 2em;
  $breakpoints: (phone: 400px, tablet: 768px, desktop: 1024px);

  /* = Plugins ===================================================================== */

  //@import 'susy';
  @import 'bourbon';
  //@import 'neat';
  @import 'plugins/_normalize', 'plugins/h5bp_normalize';
  @import 'plugins/_burger';
  @import 'plugins/_include-media';
  @import 'plugins/_flickity';
  @import 'plugins/_magnific-popup.scss';
  @import 'jeet';


  /* = Mixins ===================================================================== */

  /* Inclusive and exclusive operators for a finer control over the intervals */

  @include media("<=tablet") {
    body {
      //border-top: 10px solid orange;
    }
  }
  @include media("<=phone") {
    body {
      //border-top: 10px solid red;
    }
  }


  /* = Teil-CSS ===================================================================== */
  @import
  'grundlagen',
  'forms',
  'typo',
  'visuals',
  'einzelseiten',
  'jury',
  'footer',
  'extras',
  'hauptnavigation';


/* ==========================================================================
   Startseite
   ========================================================================== */

/* = Standardelemente ===================================================================== */

.sidetext {
  //padding-left: 1em;
}
/* = Header ===================================================================== */
.header {
  position: relative;
  //background: $color-background;
  overflow: hidden;
  padding-top: 8em;
  color: #fff;

  @include media("<=phone") {
    .sidetext {
      display: none;
    }
  }
  //border :10px solid cyan;
  @include media(">phone") {
    .sidetext {
      position: absolute;
      top: 16em;
      right: 0;

      display: inline-block;
      em {
        display: inline-block;

        transform: rotate(90deg);
        //border: 1px solid blue;
        transform-origin: top right;
        }
    }
  }
  // Über den Preis
  @include media(">phone") {
    .about-left {
      float: left;

      width: auto;
      margin-left: 0%;

      @include media(">tablet") {
        margin-left: 15%;
      }
    }
    .about-right {
      @include media(">phone") {
        float: left;

        width: 60%;
        margin-bottom: 10em;
      }
      @include media(">tablet") {
        width: 60%;
        width: 40%;
      }
      p { margin-left: $space }
    }
  }
  h1 {
    margin: .5em 0 0 0;

    font-size: 25vw;

    font-variation-settings: 'wght' 100;
    //transition: font-variation-settings .0s;
    @include media(">tablet") {
      margin: .5em 0 0 10vw;

      font-size: 12em;
    }
  }

  h1 span {
    /* Der Einzug in der ersten Zeile */
    @include media(">tablet") {
      display: inline-block;

      width: 12vw;
    }
  }

  h4 {
    margin-top: 0;

    font-size: 1.5em;
    line-height: 100%;

    @include media(">tablet") {
      margin-left: 10vw;
      padding-left: 12vw;

      font-size: 2.2em;
    }

  }


  // Hintergrundfarbe
  &::before {
    position: absolute;
    z-index: -2;
    top: 0;
    bottom: -.3em;

    display: inline-block;

    width: 100%;
    height: 100%;
    /* Der Hintergrund muss leider mit nem Pseudo-Elelement gemacht werden */

    content: " ";

    background: $color-background;
  }
}

/* = Preisträger ===================================================================== */
.preistraeger {
  margin-bottom: $space;

  @include media(">phone") {
    margin-bottom: $space*4;
    margin-left: 15%;
  }
  h3 {
    font-family: Kulturlichter, sans-serif;
    font-size: 2.3em;
  }
}

.accordion {
  h3 {
    margin: .5em 0 0 0;
  }
  .accordion-content {
    transition: all 1s;
    opacity: 0; /* Wieder auskommentieren für Accordion-Ausblendung  */
    p {
      margin: .5em 0 2em 0;
      transition: all 1s;
      font-size: 1.125em;
      font-size: 1px; /* Wieder auskommentieren für Accordion-Ausblendung  */
    }
  }
  .accordion-content.open {
    display: block;
    opacity: 1;
    p {font-size: 1.125em;}
  }
}

/* = Partner ===================================================================== */
.partner {
  position: relative;

  padding: $space 0;

  background: #fff;

  @include media(">phone") {
    padding: $space*4 0;
  }
  @include media(">tablet") {
    .breg {
      float: left;

      width: 45%;
      margin-left: 10%;
    }
    .kulturstiftung {
      float: left;

      width: 45%;
    }
    .logo {
      height: 14vw;
      padding-right: $space;
    }
  }
  @include media("<=tablet") {
    .kulturstiftung {
      margin-top: $space*2;
    }
  }
  @include media(">tablet") {
    .sidetext {
      position: absolute;
      bottom: 0;
      left: 0;

      display: inline-block;

      padding: 0;
      //border: 1px solid red;
      em {
        display: inline-block;

        transform: rotate(-90deg);
        //border: 1px solid blue;
        transform-origin: top left;
        }
    }
  }
  p,img {
    @include media(">phone") {
      margin-right: $space/2;
      margin-left: $space/2;
    }
  }
  a img {
    margin: 0 $space/2 0 0 ;
    height: 1.7em;
    display: inline-block;
    position: relative;
    transition: margin 0.1s;
  }
  a:hover img {
    margin-top: -5px;
  }
  .sidetext {
    padding-left: 0em;
  }
}

/* = Bewerbung ===================================================================== */
.bewerbung-jury-background {
  background: #E2E7E7;
  background-image: url("../img/visual-b.svg");
  background-repeat: no-repeat;
  background-position: 120% 60%;
  background-size: 50%;
  transition: all 2s;
  &.inview {
    background-size: 70%;
  }
}

.bewerbung {
  padding-bottom: $space*2;
  color: #6C8789;
  //background: #E2E7E7;
  // background-image: url("../img/visual-b.svg");
  // background-repeat: no-repeat;
  // background-position: right 300px;
  // background-size: 33%;
  .sidetext {
    text-align: right;
  }
  p {
    font-family: Kulturlichter, sans-serif;
    font-size: 2em;
    line-height: 120%;

    @include media(">phone") {
      text-indent: 10vw;
      font-size: 3.5em; /* 3.5/16 */
    }
  }
  p:last-child {
    @include media(">phone") {
      text-indent: 0vw;
      margin-left: 10vw;
    }
  }
  a {
    @extend .more-link;
  }
}

/* = Jury ===================================================================== */
.jury {
  //background: #E2E7E7;

  .jury-mitglied {
    a {
      display: inline-block;
      margin-top: 12px;
      padding: .5em 1em;
      border-width: 2px;
      border-style: solid;
      transition: background .5s;
      border-image-source: linear-gradient(20deg, #8DD2CB, #CBE199, #D5D59D, #F0B6A8, #F8ADAB, #ECA8AC, #CD9BAE, #9A85B1, #6B71B4, #6F7DB7, #799CBE, #89CFC9, #8AD1CA);
      border-image-slice: 1;
      background: rgba(255,255,255,0.0);
      &:hover {
        margin-top: 9px;
        border-width: 4px;
        background: rgba(255,255,255,1);
      }
    }
  }
}
.jury .carousel {
  width: 100%;
}
/* Den Button etwas nach oben setzen */
.flickity-prev-next-button {
  top: 100px;
}
.flickity-viewport {
  transition: height .5s;
}
/*.jury .carousel-cell.is-selected {
  opacity: 1;
}*/
.jury .carousel-cell {
  @include media(">phone") {width: 40%; }
  @include media(">tablet") { width: 28%; }
  width: 90%;
  height: auto;
  margin-right: $space*2;
  //border-radius: 5px;
  counter-increment: carousel-cell;
}

.jury-mitglied {
  margin-bottom: $space;
  text-align: center;
  h1,h2,h3,h4,h5,h6 {
    width: auto;
  }
  >p:first-child {
    margin: 0;
    padding: 0 $space;
  }
  //&.is-selected h3
  &:hover h3 {
    font-variation-settings: "wght" 1000;
      }
  h3 {
    margin: 1em 0 0 0;
    font-family: Kulturlichter, sans-serif;
    font-weight: normal;
    font-size: 1.6em;
    transition: all 1.5s;
    font-variation-settings: "wght" 100;
  }
  p {
    margin: 0;
    line-height: 120%;
  }
  img {
    width: 50%;
    min-width: 160px;
    border-radius: 50%;
    border: 1px solid #666;
  }
  small {
    display: block;
    margin-top: 1em;
  }
  blockquote {
    margin: 1.5em 0;
    font-style: italic;
    font-size: 1.1em;
    p {
      &:before, &:after {
        font-size: 2em;
        position: absolute;
        opacity: .3;
      }
      &:before {
        content: "»";
        margin-left: -.4em;
        margin-top: -.1em;
      }
      &:after {
        content: "«";
        margin-left: .05em;
        margin-top: -.05em;
      }
      line-height: 120%;
    }
  }
}

/* Das PopUp mit dem Lebenslauf */
.ajax {
  color: #fff;
  padding: 2em;
  a {
    color: #fff;
    text-decoration: underline;
  }
  p,h1,h2,h3,h4,h5,h6 {
    max-width: 30em;
    margin: auto;
  }
  p {
    margin-bottom: 1em;
  }
}

/* = Kontakt ===================================================================== */
.kontakt {
  padding: 0 0 $space 0;

  color: #fff;
  background: #6C8789;

  @include media(">phone") {
    position: relative;

    padding: $space*3 0 $space*3 0;

    @include clearfix;
    .column {
      @include media(">tablet") {
        float: left;
        width: 50%;
        padding-right: 2em;
        overflow-wrap: break-word;
      }
    }
  }
  @include media("<=phone") {
    p,h4 {
      margin: .5em 0;
    }
  }
  .column:first-of-type {
    margin-bottom: $space*2;
  }
  a {
    color: #fff;
    border-bottom: 1px solid;
  }
  a[href^="mailto"] {
    display: block;
    font-size: 2em; /* 2/16 */
    font-style: italic;
    line-height: 110%;
    border: none;
    @include media(">tablet") {
      font-size: 2.7em; /* 2.7/16 */
    }
    @include media("<=phone") {
      font-size: 1.6em; /* 1.6/16 */
    }
  }
  .sidetext {
    right: 0;
    bottom: 0;

    display: block;

    padding: 0;

    @include media(">tablet") {
      position: absolute;
      em {
        display: inline-block;

        transform: rotate(90deg);
        //border: 1px solid blue;
        transform-origin: top right;
        }
    }
    //border: 1px solid red;
  }
}
