<!DOCTYPE html>
<html class="no-js" lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />

    <title>KULTURLICHTER | {{ meta.title }}</title>

    {% if meta.description %}

        <meta name="description" content="{{ meta.description|striptags }}" />

    {% endif %}
    {% if meta.robots %}

        <meta name="robots" content="{{ meta.robots }}" />

    {% endif %}
    {% if current_page %}

        <link rel="canonical" href="{{ current_page.url }}" />

    {% endif %}
    {% if meta.opengraphimage %}

        <meta property="og:image" content="{{ assets_url}}/{{ meta.opengraphimage }}" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />

    {% endif %}

    <meta name="google-site-verification" content="IWDtjOWZllMDJTL7BhO3HyJd8riFvAZcdzX_wufcal8" />

    <link rel="stylesheet" href="{{ theme_url }}/css/main.css?v2" type="text/css" />
    <link rel="stylesheet" href="https://use.typekit.net/vvr4lkj.css" onload="this.media='all'">


</head>
<body class="home">

    <div class="visual visual-a" aria-hidden="true">
      <svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 1" viewBox="0 0 390 252.44">
        <path d="M192.47 99.96l-.78 129.95L376.04-15.28 352.66-116.1c-.96.84-158.98 215.77-160.19 216.06zM14.2-37.27l168.93 265.6.78-130.36L13.63-157.48l.56 120.2zM18.84-165.32L189.2 90.22l157.88-213.4-328.23-42.14z"/>
        <path d="M0-180.56v433h390v-433zm384.08 169.1l-193.4 257.2a4.28 4.28 0 01-1.77 1.39 4.22 4.22 0 01-5.16-1.68L6.35-33.44l-.7-2.46L5-171.05a4.4 4.4 0 014.81-4.47v.01l345.34 44.35a4.35 4.35 0 013.64 3.39l26.09 112.5a4.6 4.6 0 01-.8 3.81z"/>
      </svg>
    </div>

    <div class="wrap">

      <!--
      ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
      NAVIGATION
      ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
      -->

      <div class="nav">
        <a href="{{ base_url }}" title="Zur Startseite" class="home"><span class="logo" aria-hidden="true">a</span><span class="visuallyhidden">Home</span></a>

        <div>
          <!-- Navigation -->
          <div class="mainnav">
            <ul>
              <li><a title="Über den Preis" href="#about" class="scrolllink">{{ pages["_ueber"].title }}</a></li>
              <li><a title="Die Bewerbung" href="#bewerbung" class="scrolllink">Bewerbung</a></li>
              <li><a title="Die Jury" href="#jury" class="scrolllink">Jury</a></li>
              <li><a title="Die Partner" href="#partner" class="scrolllink">Partner</a></li>
              <li><a title="Kontakt" href="#kontakt" class="scrolllink">Kontakt</a></li>
              {% for page in pages() if page.title and not page.hidden %}
                  <li{% if page.id == current_page.id %} class="active"{% endif %}><a href="{{ page.url }}">{{ page.title }}</a></li>
              {% endfor %}
            </ul>
          </div>

          <!-- Burger-Icon -->
          <div class="b-container">
            <!-- Burger-Brand -->
            <a href="#" class="b-brand">Menu</a>
            <div class="b-menu">
              <div class="b-bun b-bun--top"></div>
              <div class="b-bun b-bun--mid"></div>
              <div class="b-bun b-bun--bottom"></div>
            </div>
          </div>

        </div>
      </div>

      <div class="page">

        <!--
        ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
        HEADER
        ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
        -->

        <header><div class="header">
          <!--<h2 class="sidetext sidetext-1"><em>Kulturpreis</em></h2>-->
          <div class="content">
            <h1 id="waypoint1" class="kulturlichter-title"><span> </span>Kultur</br>Lichter</h1>
            <h4 class="subline">Deutscher Preis <br>für kulturelle Bildung</h4>
          </div>
          <div class="visual visual-b" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 350 648">
              <defs/>
              <path d="M73.704 286.065l-261.323 348.334H66.84l263.966-348.334H73.704zM77.353 274.465h259.44466c.01251-18.3736.01245-73.98755.01245-129.698 0-55.78144.00006-111.6734-.01251-130.43146H77.353zM-196.134 626.499L65.822 277.322V23.82l-261.956 345.617v257.062z" class="cls-1"/>
              <path d="M-207.66487 367.484l1.172-3.519L65.5526 5.03552a5.72539 5.72539 0 012.684-1.953h281.76274V-.05714L-207.66487 0z" class="cls-1"/>
              <path d="M348.34111 280.729a5.84866 5.84866 0 01-1.691 4.099 5.73949 5.73949 0 01-.97283.78028L74.29717 643.719A5.76117 5.76117 0 0169.70391 646h-277.36878v2L350 647.99928l-.00066-644.91676h-1.6578c0 31.77354.01093 270.1593-.00043 274.58191z" class="cls-1"/>
            </svg>
          </div>
          <div class="visual visual-c" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 349">
              <path d="M0 0v349h342V0zm341.29 344.64a3.5 3.5 0 01-3.5 3.6H73.92a73.8 73.8 0 010-147.62h37.84a20.8 20.8 0 000-41.58H81.01a78.9 78.9 0 110-157.8h66.29a3.5 3.5 0 010 7H81a71.9 71.9 0 100 143.8h30.76a27.8 27.8 0 010 55.59H73.92a66.8 66.8 0 000 133.61h260.26l.22-17.02H77.2a49.85 49.85 0 110-99.7h35.35a45.6 45.6 0 000-91.19H80.48a52.37 52.37 0 010-104.74h66.82a3.5 3.5 0 013.5 3.5v27.35a3.5 3.5 0 01-3.5 3.5H79.95a18.84 18.84 0 000 37.68h33.4a77.4 77.4 0 010 154.8H80.49a18.9 18.9 0 100 37.79H331.3a3.5 3.5 0 010 7H80.49a25.9 25.9 0 110-51.8h32.86a70.4 70.4 0 000-140.79h-33.4a25.84 25.84 0 010-51.68h63.85V35.59H80.48a45.37 45.37 0 000 90.74h32.07a52.6 52.6 0 010 105.2H77.2a42.85 42.85 0 100 85.7h260.6a3.5 3.5 0 013.5 3.39z"/>
            </svg>
          </div>
          <div class="content">
            {{ content }}
          </div>
          <div class="content" id="about">
            <div class="about-left">
              <h3 id="waypoint2">{{ pages["_ueber"].title }}</h3>
            </div>
            <div class="about-right">
              <p>{{ pages["_ueber"].id|content }}</p>
            </div>
          </div>
          <div class="content">
            <div class="preistraeger">
              <p id="waypoint3">{{ pages["_meta"].meta.PreislistenDachzeile|markdown }}</p>
              <div class="accordion preisliste">
                {% for page in pages("preis") if not page.hidden %}
                  <h3><span class="icn-arrow">→</span><a href="#" class="variablefont-ani">{{ page.title }}</a></h3>
                  <div class="accordion-content">{{ page.id|content }}</div>
                {% endfor %}
              </div>
              <p>{{ pages["_meta"].meta.PreislistenAbschluss|markdown }}</p>
            </div>
          </div>
        </div></header><!-- Header END -->

        <!--
        ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
        BEWERBUNG
        ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
        -->

        <div class="bewerbung-jury-background">

        <section id="bewerbung"><div class="bewerbung">
          <div class="content">
            <h2 class="sidetext sidetext-3"><em>Bewerbung</em></h2>
            <!-- Nach Ablauf der Bewerbungsphase einen anderen Text anzeigen -->
            {% if date() < date('2020-10-17', 'Europe/Berlin') %}
              <div class="">{{ pages["bewerbung/einstiegstext"].id|content }}</div>
            {% else %}
              <div class="">{{ pages["bewerbung/einstiegstext-phase2"].id|content }}</div>
            {% endif %}
          </div>
        </div></section><!-- Bewerbung END -->

        <!--
        ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
        JURY
        ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
        -->

        <section id="jury"><div class="jury">
          <div class="content">
            <h2 class="sidetext"><em>Jury</em></h2>
            {{ pages["jury/index"].id|content }}

          </div>
          <div class="carousel" data-flickity='{ "imagesLoaded": true, "adaptiveHeight": true, "groupCells": true }'>
          {% for page in pages("jury") if not page.hidden %}
            <div class="jury-mitglied carousel-cell">
              {{ page.id|content }}
            </div>
          {% endfor %}
          </div>

        </div></section><!-- Jury END -->

        </div>


        <!--
        ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
        PARTNER
        ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
        -->

        <section id="partner"><div class="partner">
          <h2 class="sidetext sidetext-2"><em>Partner</em></h2>
          <div class="content">
            <div class="breg">
              <div class="logo"><img src="{{ theme_url }}/img/logo-breg.svg" alt="Die Beauftragte der Bundesregierung für Kultur und Medien"></div>
              <div>
                {{ pages["partner/breg"].id|content }}
              </div>
            </div>
            <div class="kulturstiftung">
              <div class="logo"><img src="{{ theme_url }}/img/logo-kulturstiftung.svg" alt="Kulturstiftung der Länder"></div>
              {{ pages["partner/kulturstiftung"].id|content }}
            </div>
          </div>
        </div></section><!-- Partner END -->

        <!--
        ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
        KONTAKT
        ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
        -->

        <section id="kontakt"><div class="kontakt">
          <div class="content">
            <h2 class="sidetext sidetext-4"><em>Kontakt</em></h2>
            {% for page in pages("kontakt") if not page.hidden %}
              <div class="column">
                <h4>{{ page.title }}</h4>
                {{ page.id|content }}
              </div>
            {% endfor %}
          </div>
        </div></section><!-- Kontakt END -->

        <!--
        ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
        FOOTER
        ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
        -->

        <footer>
          <p>{{ pages["_meta"].meta.copyright }} &nbsp;
            {% for page in pages() if page.title and not page.hidden %}
                <span>|</span>&nbsp;<a href="{{ page.url }}">{{ page.title }}</a>
            {% endfor %}
          </p>
          <!-- Social Links im Footer deaktiviert weil es evtl. keine für das Projekt geben wird.
          <div class="sociallinks">
            <a href="https://twitter.com/"><img src="{{ theme_url }}/img/icn-twitter.svg" alt="Twitter"></a>
            <a href="https://www.instagram.com/"><img src="{{ theme_url }}/img/icn-insta.svg" alt="Instagram"></a>
            <a href="https://www.facebook.com/"><img src="{{ theme_url }}/img/icn-facebook.svg" alt="Facebook"></a>
          </div>
          -->
        </footer>

      </div><!-- Page END -->
    </div><!-- Wrap END -->

    <script src="{{ theme_url }}/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="{{ theme_url }}/js/vendor/jquery.min.js"></script>
    <script src="{{ theme_url }}/js/plugins-min.js?v2"></script>
    <script src="{{ theme_url }}/js/main-min.js?v2"></script>
    <script src="{{ theme_url }}/js/startseite-min.js?v2"></script>

    {{ content_editor }}

</body>
</html>
