<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <title>KULTURLICHTER | {{ meta.title }}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}" />
    {% endif %}
    {% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}" />
    {% endif %}

    {% if current_page %}
        <link rel="canonical" href="{{ current_page.url }}" />
    {% endif %}

    <link rel="stylesheet" href="{{ theme_url }}/css/main.css" type="text/css" />
    <!--<link rel="stylesheet" href="https://use.typekit.net/vvr4lkj.css">-->
    <link rel="stylesheet" href="https://use.typekit.net/vvr4lkj.css" onload="this.media='all'">

</head>
<body class="ajax">

      <div class="ajax">
            <!--<h1>{{ meta.title }}</h1>-->
            {{ content }}

          <!--
          <section id="jury"><div class="jurysinglepage">
            {% for page in pages("jury") if not page.hidden %}
              <div class="jury-mitglied" id="">
                {{ page.id|content }}
              </div>
            {% endfor %}
          </div></section>-->
          <!-- Jury-Liste END -->

      </div><!-- Page END -->
    </div><!-- Wrap END -->

</body>
</html>
