<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <title>KULTURLICHTER | {{ meta.title }}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}" />
    {% endif %}
    {% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}" />
    {% endif %}

    {% if current_page %}
        <link rel="canonical" href="{{ current_page.url }}" />
    {% endif %}

    <link rel="stylesheet" href="{{ theme_url }}/css/main.css" type="text/css" />
    <!--<link rel="stylesheet" href="https://use.typekit.net/vvr4lkj.css">-->
    <link rel="stylesheet" href="https://use.typekit.net/vvr4lkj.css" onload="this.media='all'">

</head>
<body class="single-page">

  <!--<div class="cookie-overlay">
    <p>Wir verwenden Cookies, um Inhalte zu personalisieren und die Zugriffe auf unsere Website zu analysieren. Außerdem geben wir Informationen zu Ihrer Verwendung unserer Website an unsere Partner für Analysen weiter. Unsere Partner führen diese Informationen möglicherweise mit weiteren Daten zusammen, die Sie ihnen bereitgestellt haben oder die sie im Rahmen Ihrer Nutzung der Dienste gesammelt haben. Mit Klick auf Akzeptieren stimmen Sie der Nutzung dieser Dienste zu. Unter Cookie Einstellungen oder innerhalb der Datenschutzerklärung können Sie Ihre Cookies managen.</p>
    <p><a href="#">Akzeptieren</a></p>
  </div>-->

    <div class="wrap">

      <div class="nav">
        <a href="{{ base_url }}" title="Zur Startseite" class="home"><span class="logo" aria-hidden="true">a</span><span class="visuallyhidden">Home</span></a>

        <div>
          <!-- Navigation -->
          <div class="mainnav">
            <ul>
              <li><a title="Über den Preis" href="{{ base_url }}#about" class="scrolllink">{{ pages["_ueber"].title }}</a></li>
              <li><a title="Die Bewerbung" href="{{ base_url }}#bewerbung" class="scrolllink">Bewerbung</a></li>
              <li><a title="Die Partner" href="{{ base_url }}#partner" class="scrolllink">Partner</a></li>
              <li><a title="Kontakt" href="{{ base_url }}#kontakt" class="scrolllink">Kontakt</a></li>
              {% for page in pages() if page.title and not page.hidden %}
                  <li{% if page.id == current_page.id %} class="active"{% endif %}><a href="{{ page.url }}">{{ page.title }}</a></li>
              {% endfor %}
            </ul>
          </div>


          <!-- Burger-Icon -->
          <div class="b-container">
            <!-- Burger-Brand -->
            <a href="#" class="b-brand">Menu</a>
            <div class="b-menu">
              <div class="b-bun b-bun--top"></div>
              <div class="b-bun b-bun--mid"></div>
              <div class="b-bun b-bun--bottom"></div>
            </div>
          </div>

        </div>
      </div>

      <div class="page jury">
          <div class="content">
            <!--<h1>{{ meta.title }}</h1>-->
            {{ content }}
          </div>

          <!--
          <section id="jury"><div class="jurysinglepage">
            {% for page in pages("jury") if not page.hidden %}
              <div class="jury-mitglied" id="">
                {{ page.id|content }}
              </div>
            {% endfor %}
          </div></section>-->
          <!-- Jury-Liste END -->

          <footer>
            <p>{{ pages["_meta"].meta.copyright }} &nbsp;
              {% for page in pages() if page.title and not page.hidden %}
                  <span>|</span>&nbsp;<a href="{{ page.url }}">{{ page.title }}</a>
              {% endfor %}
            </p>
            <!-- Social Links im Footer deaktiviert weil es evtl. keine für das Projekt geben wird.
            <div class="sociallinks">
              <a href="https://twitter.com/"><img src="{{ theme_url }}/img/icn-twitter.svg" alt="Twitter"></a>
              <a href="https://www.instagram.com/"><img src="{{ theme_url }}/img/icn-insta.svg" alt="Instagram"></a>
              <a href="https://www.facebook.com/"><img src="{{ theme_url }}/img/icn-facebook.svg" alt="Facebook"></a>
            </div>
            -->
          </footer>

      </div><!-- Page END -->
    </div><!-- Wrap END -->

    <script src="{{ theme_url }}/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="{{ theme_url }}/js/vendor/jquery.min.js"></script>
    <script src="{{ theme_url }}/js/plugins-min.js"></script>
    <script src="{{ theme_url }}/js/main-min.js"></script>
    <!--<script src="{{ theme_url }}/js/jury-min.js"></script>-->

</body>
</html>
